.zoomin, .zoomout, .zoomfull, .pan, .measureLength, .measureArea, .drawPoint, .drawPath,
.drawPolygon, .clearfeatures, .previous, .next, .info {
    height:20px !important;
    width:20px !important;
}

.zoomin {
    background-image:url(../../mfbase/mapfish/img/icon_zoomin.png) !important;
}

.zoomout {
    background-image:url(../../mfbase/mapfish/img/icon_zoomout.png) !important;
}

.zoomfull {
    background-image:url(../../mfbase/mapfish/img/icon_zoomfull.png) !important;
}

.pan {
    background-image:url(../../mfbase/mapfish/img/icon_pan.png) !important;
}

.measureLength {
    background-image:url(../../mfbase/mapfish/img/measure_length.png) !important;
}

.measureArea {
    background-image:url(../../mfbase/mapfish/img/measure_area.png) !important;
}

.drawPoint {
    background-image:url(../../mfbase/mapfish/img/draw_point_off.png) !important;
}

.drawPath {
    background-image:url(../../mfbase/mapfish/img/draw_line_off.png) !important;
}

.drawPolygon {
    background-image:url(../../mfbase/mapfish/img/draw_polygon_off.png) !important;
}

.clearfeatures {
    background-image:url(../../mfbase/mapfish/img/draw_polygon_clear_off.png) !important;
}

.previous {
    background-image:url(../../mfbase/mapfish/img/resultset_previous.png) !important;
}

.next {
    background-image:url(../../mfbase/mapfish/img/resultset_next.png) !important;
}

.info {
    background-image:url(../../mfbase/mapfish/img/info.png) !important;
}

#linkPanel .x-panel-body {
   border-style:none;
}

#apiPanel .x-panel-body {
   border-style:none;
}

.labelApiFormPanel {
   font-weight: bold;
}

.buttonApiFormPanel {
   padding-left:280px;
   padding-top:20px;
   width:auto;
}
